<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="templates/static/stylez.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<style>
    body{
        background-color: aquamarine;
    }
    .TitleWords{
        font-size: 24pt;
    }
</style>
<body>
    <form action = "http://localhost:5000/home" methods = "POST">
        <p class="TitleWords"><b>Home Page</b></p>
        <p>
            Welcome to On The Edge's Home Page! We are a relatively new company dedicated to crafting and manufactoring
            the best energy drinks in the world. We pride ourselves in our variety, from zero sugar to super-energized,
            we have it all!
        </p>
        <p>
            Click <a href="http://127.0.0.1:5000/add">here</a> to add a new item to our inventory
        </p>
        
        <p>
            Click <a href="http://127.0.0.1:5000/inventory">here</a> to see our current inventory
        </p>
        
    </form>
</body>
</html>